

#game {
width:800px;
margin:0 auto;

}

.img {
  width: 80px;
  height: 80px;
  position: absolute;
}


/* .gOver {
  width: 400px;
  height: 100px;
  color: blue;
  text-decoration-style: double;
} */

#left {
  background-color:beige;
  height: 650px;
  width: 50%;
  float: left;
  border-style: dashed;
  border-color: black;
}
#right {
  background-color: beige;
  margin-left:400px;
  height: 650px;
  width: 50%;
  margin-top: 0px;
  border-style: dashed;
  border-color: black;
  
}