body{
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }

/* 
#form {
    width:fit-content;;
    height:fit-content; 
    margin:0 auto;
    text-align: center;
    margin-top: 10%;
    border-color: black;
    
    background-color: crimson;
 } */


 #btn{
    background: white;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:#3498db;
    border-radius:4px;
    border:white 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:none;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }

 #form {
    background: #3498db;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
 }

 h2
 {
    font-family: 'Open Sans', sans-serif;
     color: black;
 }

